In [1]:
import sys
import pandas as pd
import numpy as np
from sklearn.cross_validation import KFold
from sklearn import ensemble
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder

import xgboost as xgb

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [63]:
train_df=pd.read_csv('train_df_cleaned.csv')
test_df=pd.read_csv('test_df_cleaned.csv')

In [3]:
pd.set_option('display.max_columns',25)

In [52]:
from xgboost.sklearn import XGBClassifier
xgb1 = XGBClassifier(
 learning_rate =0.1,
 n_estimators=1000,
 max_depth=5,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1,
 seed=27)

In [52]:
train_df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,training_score,education_missing,previous_year_rating_missing,promorate_feat,Exp_edu,Awards_rating,recruitment_channel_promo
0,65438,Sales & Marketing,region_7,2,0,sourcing,1,35,5.0,8,1,0,49,0,49,0,0,1,1,0,0
1,65141,Operations,region_22,1,1,other,1,30,5.0,4,0,0,60,0,60,0,0,1,0,0,1
2,7513,Sales & Marketing,region_19,1,1,sourcing,1,34,3.0,7,0,0,50,0,50,0,0,0,1,0,0
3,2542,Sales & Marketing,region_23,1,1,other,2,39,1.0,10,0,0,50,0,100,0,0,0,1,0,1
4,48945,Technology,region_26,1,1,other,1,45,3.0,2,0,0,73,0,73,0,0,0,0,0,1

In [64]:
cat_columns_list = ["department",'region','recruitment_channel']
for var in cat_columns_list:
    lb = LabelEncoder()
    full_var_data = pd.concat((train_df[var],test_df[var]),axis=0).astype('str')
    temp = lb.fit_transform(np.array(full_var_data))
    train_df[var] = lb.transform(np.array( train_df[var] ).astype('str'))
    test_df[var] = lb.transform(np.array( test_df[var] ).astype('str'))

In [57]:
train_df.shape

(54808, 21)

In [65]:
train_y = np.array(train_df["is_promoted"])
test_emp_id = np.array(test_df["employee_id"])

In [59]:
#Check with anyone after scaling got accuracy of 0.15
cont_var=['no_of_trainings','length_of_service','age','avg_training_score','training_score']
for var in cont_var:
    train_df[var]=(train_df[var]-np.mean(np.array(train_df[var])))/np.std(np.array(train_df[var]))

In [48]:
train_df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,training_score,education_missing,previous_year_rating_missing,promorate_feat,Exp_edu,Awards_rating,recruitment_channel_promo
0,65438,7,31,2,0,2,-0.415276,0.025598,5.0,0.500460,1,0,-1.075931,0,-0.701265,0,0,1,1,0,0
1,65141,4,14,1,1,0,-0.415276,-0.627135,5.0,-0.437395,0,0,-0.253282,0,-0.450574,0,0,1,0,0,1
2,7513,7,10,1,1,2,-0.415276,-0.104948,3.0,0.265996,0,0,-1.001145,0,-0.678475,0,0,0,1,0,0
3,2542,7,15,1,1,0,1.226063,0.547785,1.0,0.969387,0,0,-1.001145,0,0.461029,0,0,0,1,0,1
4,48945,8,18,1,1,0,-0.415276,1.331064,3.0,-0.906322,0,0,0.718939,0,-0.154303,0,0,0,0,0,1

In [66]:
#train_df.drop(['avg_training_score','no_of_trainings'],axis=1,inplace=True)
#test_df.drop(['avg_training_score','no_of_trainings'],axis=1,inplace=True)
train_df.drop('employee_id',axis=1,inplace=True)
test_df.drop('employee_id',axis=1,inplace=True)
train_df.drop(["is_promoted"], axis=1, inplace=True)

In [10]:
print(train_df.columns)
print(test_df.columns)

Index(['department', 'region', 'education', 'gender', 'recruitment_channel',
       'age', 'previous_year_rating', 'length_of_service', 'KPIs_met >80%',
       'awards_won?', 'training_score', 'education_missing',
       'previous_year_rating_missing', 'promorate_feat', 'Exp_edu',
       'Awards_rating', 'recruitment_channel_promo'],
      dtype='object')
Index(['department', 'region', 'education', 'gender', 'recruitment_channel',
       'age', 'previous_year_rating', 'length_of_service', 'KPIs_met >80%',
       'awards_won?', 'training_score', 'education_missing',
       'previous_year_rating_missing', 'promorate_feat', 'Exp_edu',
       'Awards_rating', 'recruitment_channel_promo'],
      dtype='object')

In [67]:
print(train_df.shape)
print(test_df.shape)

(54808, 19)
(23490, 19)

In [12]:
def runXGB(train_X, train_y, test_X):
    params = {}
    params["objective"] = 'binary:logistic' #"reg:linear"
    params["eta"] = 0.03
    params["min_child_weight"] = 10
    params["subsample"] = 0.8
    params["colsample_bytree"] = 0.7
    params["silent"] = 1
    params["max_depth"] = 10
    #params["max_delta_step"]=2
    params["seed"] = 0
    #params['eval_metric'] = "auc"
    plst = list(params.items())
    num_rounds = 1100

    xgtrain = xgb.DMatrix(train_X, label=train_y)
    xgtest = xgb.DMatrix(test_X)
    model = xgb.train(plst, xgtrain, num_rounds)
    pred_test_y = model.predict(xgtest)
    return pred_test_y

In [16]:
pred_test_y

array([  9.95059907e-02,   1.76785770e-03,   7.90448976e-05, ...,
         3.89520312e-04,   8.42507090e-03,   6.07564867e-01], dtype=float32)

In [13]:
print ("Running model.."	)
pred_test_y = runXGB(train_df, train_y, test_df)
pred_test_y[pred_test_y<0] = 1

Running model..

In [15]:
out_df = pd.DataFrame({"employee_id":test_emp_id})

out_df["is_promoted"] = pred_test_y
out_df.to_csv("sub31_XG.csv", index=False)

In [ ]:
	xgtrain = xgb.DMatrix(train_X, label=train_y)
	xgtest = xgb.DMatrix(test_X)
	model = xgb.train(plst, xgtrain, num_rounds)
	pred_test_y = model.predict(xgtest)

In [68]:
xgb1.fit(train_df,train_y)
y_pred=xgb1.predict(test_df)
out_df = pd.DataFrame({"employee_id":test_emp_id})

out_df["is_promoted"] = y_pred
out_df.to_csv("sub32_XG_original.csv", index=False)

In [69]:
sum(y_pred)

853

In [76]:
def run_lgb(X_train, y_train, test_df):
    params = {
        "objective" : "binary",
       "n_estimators":10000,
       "reg_alpha" : 0.1,
       "reg_lambda":0.1,
       "n_jobs":-1,
       "colsample_bytree":.8,
       "min_child_weight":8,
       "subsample":0.8715623,
       "min_data_in_leaf":100,
       "nthread":4,
       "metric" : "f1",
       "num_leaves" : 600,
       "learning_rate" : 0.01,
       "verbosity" : -1,
       "seed": 120,
       "max_bin":60,
       'max_depth':15,
       'min_gain_to_split':.0222415,
       'scale_pos_weight':2
    }
    lgtrain = lgb.Dataset(train_df, label=y_train)
    #lgval = lgb.Dataset(test_df, label=y_test)
    evals_result = {}
    model = lgb.train(params, lgtrain, 10000,  
                      early_stopping_rounds=100, 
                      verbose_eval=100, 
                      )
    pred_test_y = model.predict(test_df)
    return pred_test_y

In [77]:
pred_test = run_lgb(train_df, train_y,test_df)
print("LightGBM Training Completed...")

NameError: name 'lgb' is not defined